<div class= "container-fluid">
<h3>my groups</h3>

<ul>
  <% @groups.each do |group| %>

    <p><%= group.group_name%></p>
   

 <%= link_to "Show this group", group_path(group) %>
 <%= link_to "Edit this group", edit_group_path(group) %>   




  <% end %>
</ul>

 

 <a href="/groups/new" class="btn btn-md btn-default">Create New Group</a>

</div>
