<div class= "container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-4">
        <h4>my groups</h4>

          <% @groups.each do |group| %>
            <p><%= group.group_name%></p>

         <button type="button" class="btn btn-default btn-xs">  
         <%= link_to "Show this group", group_path(group) %></button>
         <button type="button" class="btn btn-default btn-xs">
         <%= link_to "Edit this group", edit_group_path(group) %></button>

          <% end %>
    
      </br>
     <a href="/groups/new" class="btn btn-xs btn-default">Create New Group</a>
     </div>
     
    <div class="col-md-4"></div>
  </div>
</div>
