<div class="container-fluid">
<h1>past lives</h1>
	<h4>story feed</h4>

<div class="storyfeed">
<h1> </h1>

  <% @stories.each do |story| %>

    <p><%= story.story%></p>
<% end %>
	<!-- show daily story -->
</div>
	

</div>
