<!-- Stories Container -->
<div class="container-fluid">
	<div class="row">		
	<div class="col-md-4"></div>	
		<ul class="list-group">
	
		
		<div class="col-md-4">	
		<strong>stories:</strong> 
			<% @stories.each do |story| %> 
	  	<li class="list-group-item"><%= story.text%> </li>  
		<% end %>
	
		</br>

<!-- Quotes Container -->



	
		<strong>quotes:</strong>
		<% @quotes.each do |quote| %>
		
	  		<li class="list-group-item"><%= quote.text%></li>
			

   
	<% end %>
		</ul>

			</div>
		<div class="col-md-4"></div>
	</div>
</div>

