<div class="container">

	<h5>story feed</h5>
	<div class="row">
		<% @stories.each do |story| %>
		<div class="col-md-3"></div>	
		<div class="col-md-3">
	  		<p class="storys"><%= story.text%></p>
	  	</div>
	  	<div class="col-md-3"></div>
	    
	<% end %>

	<!-- show daily story -->

	</div>
</div>
