
    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">past lives</h1>
    <!--   <div class = "coverphoto">
        <img src="<%= asset_path( 'pastlives.jpg' ) %>" /></div> -->
        <p class="lead"> Learning more about past experiences.</p>
        
<div class="container">
	<div class = "row" >
	
	<%= render 'sessions/login_form' %>


 


      </div>

    </div>
