<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">past lives</h1>
        <p class="lead"> Learning more about past experiences with a story generator.</p>
        
	<div class="container">
		<div class = "row">			
			<%= render partial: "login_form" %>
		</div>	
	</div>

        
      </div>

    </div>

  </div>

</div>