<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">past lives</h1>
    <!--   <div class = "coverphoto">
        <img src="<%= asset_path( 'pastlives.jpg' ) %>" /></div> -->
        <p class="lead"> Learning more about past experiences.</p>
        
<div class="container">
	<div class = "row" >
	
	<%= render 'sessions/login_form' %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">
  Sign Up
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body">
      <p> How it works...</p>
    
        <%= render 'users/signup' %>

       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>
             
           
     

        <p class="lead"> Learning more about past experiences with a story generator.</p>
        
	<div class="container">
		<div class = "row">			
			<%= render partial: "login_form" %>
		</div>	
	</div>


      </div>

    </div>

  </div>

</div>