<%= form_tag('story.groups', method: :post)do %>
  
  <div class ="form-group" >
    <%= label_tag :group_name %>
    <%= text_field_tag :group_name %>
  </div>
 
    <%= submit_tag "Login", class: "btn btn-lg btn-default"%> 
  <a href="/users/new" class="btn btn-lg btn-default">Signup</a>
<% end %>