<div class="container-fluid">
<h1> Edit this Stories</h1>

<%= form_for @story do |f| %>

  story Name: <%= f.text_field :text	%>



  <%= f.submit "Edit story!" %>

<% end %>

<%= link_to "Back to list of stories", stories_path %>
</div>