<div class="container-fluid">
	<h1>my stories</h1>
	<div class = "stories">
	<% if current_user %>
	  <% @stories.each do |story| %>

	    <p><%= story.text%></p>
	    <p><%= story.category%></p>
	  
		<button type="button" class="btn btn-default btn-xs">
	 		<%= link_to "Show this story", story_path(story)%>
	 	</button>
		 <button type="button" class="btn btn-default btn-xs">
			 <%= link_to "Edit this story", edit_story_path(story) %> 
		 </button>  

	  <% end %>
	 <% end %>

	</br>
	 
	   <a href="/stories/new" class="btn btn-default btn-sm">New Story</a>
</div>
