<div class="container-fluid">
	<div class = "row">
	<h3>my stories</h3>
	<div class = "stories">
		<div class="col-md-4"></div>	
	
	<div class="col-md-4">
	<% if current_user %>
	  <% @stories.each do |story| %>
			<p><%= story.category%></p>
	    <p><%= story.text%></p>
	  
		<button type="button" class="btn btn-default btn-xs">
	 		<%= link_to "Show this story", story_path(story)%>
	 	</button>
		 <button type="button" class="btn btn-default btn-xs">
			 <%= link_to "Edit this story", edit_story_path(story) %> 	
		 </button>  
		
	  <% end %>
	 <% end %>
	 </div>

	<div class="col-md-4"></div>
	
</div>
