<div class="container-fluid">
<h1>my stories</h1>
<ul>
  <% @stories.each do |story| %>
  <li>
    <p><%= story.text%></p>
    <p><%= story.category%></p>
   

 <%= link_to "Show this story", story_path(story) %>
 <%= link_to "Edit this story", edit_story_path(story) %>   
  </li>
  <% end %>
</ul>

</div>
