<div class="container-fluid">
	<div class = "row">
		<h4>my stories</h4>
		<div class="col-md-4"></div>	
	
	<div class="col-md-4">
	<div class="scrollbox">
	<% if current_user %>
	  <% @stories.each do |story| %>
	  <ul class="list-group">
			<li class="list-group-item"><%= story.category%></li>
	    <li class="list-group-item"><%= story.text%></li>
	  
		<button type="button" class="btn btn-default btn-xs">
	 		<%= link_to "Show this story", story_path(story)%>
	 	</button>
		 <button type="button" class="btn btn-default btn-xs">
			 <%= link_to "Edit this story", edit_story_path(story) %> 	
		 </button>  
		
	  <% end %>
	 <% end %>

	 </ul>
	 </div>
</div>

	<div class="col-md-4"></div>
</div>
</div>

	

